<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.ij.mlwithtensorflowlite">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/applogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/applogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MLWithTensorFlowLite">
        <activity
            android:name=".DaffodilActivity"
            android:exported="false" />
        <activity
            android:name=".BluebellActivity"
            android:exported="false" />
        <activity
            android:name=".RoseActivity"
            android:exported="false" />
        <activity
            android:name=".InformationActivity"
            android:exported="false" />
        <activity
            android:name=".TulipActivity"
            android:exported="false" />
        <activity
            android:name=".DaisyActivity"
            android:exported="false" />
        <activity
            android:name=".LilyActivity"
            android:exported="false" />
        <activity
            android:name=".SunflowerActivity"
            android:exported="false" />
        <activity
            android:name=".ProbabilityActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>